body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

//sign
.sign {
  .paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 100px;
    padding: 50px 0;
  }
  .form {
    margin-top: 25px;
  }
  .btn-submit {
    margin: 25px 0 15px;
  }
}
//navbar
.header {
  .toolbar {
    justify-content: space-between;
  }
  .navList {
    display: flex;
    a {
      display: block;
      line-height: 1.5;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
//main
main {
  margin-top: 100px;
  .container {
    button {
      height: 100%;
    }
    .root {
      min-width: 275px;
      h1 {
        margin-bottom: 20px;
      }
      .pos {
        margin-bottom: 15px;
      }
      a {
        margin-left: 10px;
        color: #3f51b5;
        &:hover {
          text-decoration: none;
        }
      }
      span {
        margin-left: 10px;
        color: #3f51b5;
      }
    }
  }
  .empty {
    display: flex;
    justify-content: center;
  }
  .table {
    .header {
      background-color: #6573c3;
      th {
        color: #fff;
      }
    }
    .body {
      tr {
        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
        a {
          color: #3f51b5;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  padding: 30px;
}
