body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

//sign
.sign {
  .paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    width: 100px;
    padding: 50px 0;
  }
  .form {
    margin-top: 25px;
  }
  .btn-submit {
    margin: 25px 0 15px;
  }
}
//navbar
.header {
  .toolbar {
    justify-content: space-between;
  }
  .navList {
    display: flex;
    a {
      display: block;
      line-height: 1.5;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}
//main
main {
  margin-top: 100px;
  .container {
    button {
      height: 100%;
    }
  }
}
